/* ==========================================================================
   общие  Styling
   ========================================================================== */
@font-face {
  font-family: 'NeoSansCyr';
  src: url("../fotnts/NeoSansCyr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
   
   
   html,body{
	padding:0;
	margin:0;
} 
a {
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6, span, p { font-family: "NeoSansCyr"; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
	background-image: url("../img/Background.png");
	background-size: cover;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.wrapper{
	max-width: 1167px;
	margin: auto;
	margin-top:27px;
}
.row {
	margin:0;
}

/* ==========================================================================
   header  Styling
   ========================================================================== */
#top_header { 
	/*width:100%;*/
	background-color: rgb(255, 255, 255);
	/*height:auto;*/
}
#top_header > [class^="col-"]{
  /*padding-left: 0;*/
  padding: 0;
}
#top_header{
	margin-bottom:15px;
}
#logo{
  width: 170px;
}
#logo img {
  width: 100%;
  height: 100%;
}
#menu_top,#schopping_cart,#logo{
	height:120px;
	padding:0;
}
.container-fluid{
	margin: 0 15% 0 15%;
}
.container-fluid li {
	margin-left:40px;
}

/*блок иконок связи*/
#menu_icon {
	height:65%;
	padding-top:25px;
  padding-left: 13px;
}
#menu_icon ul,#menu_icon li{
  padding: 0;
  margin: 0;
}
#menu_icon li a{
  color:#000;
}
#menu_icon li{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 14px;
}
#menu_icon li a img{
  margin-right: 8px;
}
#menu_icon li{
  display: inline-block;
  margin-right: 6px;
}
#menu_icon ul li:last-of-type{
  margin-right: 0;
}
#menu_icon ul li:nth-of-type(4),#menu_icon ul li:last-of-type{
  color:#999;
}
.drop-arrow{
  display: inline-block;
  width: 8px;
  height: 6px;
  margin-left: 3px;
}
.drop-arrow a{
  display: block;
}
.drop-arrow a img,.drop-arrow a{
  width: 100%;
  height: 100%;
}
/*блок поиска*/
#search input {
	min-width: 94%;
	height: 34px;
	border: none;
  padding-left: 20px;
	background: rgb(222, 225, 227);
}
#search button {
	background:rgb(0, 0, 0);
  display: inline-block;
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
}

/*#log form{
	width:50%;
}*/
#log{
  padding-left: 15px;
}
.wrap-fsearch [class^="col-"]{
  padding: 0;
}
#log input  {
	width: 24%;
	border: none;
	height: 34px;
}
button{
	border:none;
	height:30px;
}

#log button{
	background-color: #b9ffe5;
  width: 88px;
  text-align: center;
	font-size: 14px;
  height: 34px;
  color: #000;
  line-height: 1.2;
  display: inline-block;
}
#shopcart{

	background-color: rgb(69, 69, 69);
	height:58%;
	margin-bottom:5%;
}
#shopcart img{
	float:right;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	margin:10% 10% 5% 15%;
	position: relative;
}
.shoping {
	height:42%;
}
#bye {
	background-color:rgb(255, 200, 200);
	height:60%;
  padding-top: 5px;
	text-align:center;
}
#bye a{
	font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-decoration:none;
}

/* ==========================================================================
    main_menu Styling
   ========================================================================== */

#navbarCollapse {
	background-color: rgb(255, 255, 255);
	margin-left:17%;
	border:none;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
}

#navbar-header,.navbar-default {
	background-color: rgb(255, 255, 255);
	border:none;
}
.navbar-default .navbar-nav > .active > a{
	background-color:rgb(255, 255, 255);
}
.navbar-default .navbar-nav > li > a:focus{
	background-color:#a1e7fa;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:#a1e7fa;
}
/* ==========================================================================
    left_menu Styling
   ========================================================================== */

#left_menu{
	margin-top:30px;
	padding:0;
}
#left-side-top-bar {
	background-color: rgb(161, 231, 250);

}

#left_nav_navbar{
	font-size: 16px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 2.25;
  text-align: left;
	text-decoration:none;
}
#men,#gerl{
	padding:5% 1% 8% 3%;
}
#men{
background-color: rgb(255, 255, 255);
}
#navbarCollapse2{
	background-color: rgb(161, 231, 250);
}
 #navbarCollapse2 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active {
	background-color: #000000; 
	color:#fff;
 }
.cont{
	width:90%;
}
/* ==========================================================================
    brands
   ========================================================================== */
#brands{
	background-image: url("../img/OBDRYK0.png");
	height:172px;
	margin-top:30px;
	padding:0;
	margin-bottom:30px;
}
#ob {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(185, 255, 229);
  background-color: rgba(255, 251, 160, 0.4);
  margin:2% auto 2%;
	width:96%;
	height:99px;
	position: relative;
	top:6%;
	padding:0;
}
#buttom_action,#action,#logo_action,#logo_action p{
	height:100%;
}

#logo_action img{
margin-top:17%;
margin-right:17%;
}

#action h4 {
	height:100%;
	padding-top:3%;
	margin-left:4%;
	font-size: 21px;
	font-family: "NeoSansPro";
  color: rgb(255, 255, 255);
}

#buttom_action input{
  background-color: rgb(255, 200, 200);
	border:none;
	margin-top:17%;
	height:35%;
	width:70%;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.875;
  text-align: left;
}
/* ==========================================================================
    about
   ========================================================================== */
#about{
	background-color: rgb(255, 255, 255);
	width:100%;
	padding:0;
	margin-bottom:30px;
	
	padding:0px;
}
#about_img{
	padding:0px;
}
#about_img img{
	width:100%;
	
}

#about_text h2{
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
}
.section-title::before {
    content: '';
    width: 197px;
    height: 10px;
    background: url(../img/t-left.png) no-repeat center;
   
    margin-right: 15px;
    display: inline-block;
}
.section-title::after {
    content: '';
    width: 197px;
    height: 10px;
    background: url(../img/t-left.png) no-repeat center;
    
    margin-left: 15px;
    display: inline-block;
}
#about_text p{
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(34, 36, 41);
  line-height: 1.714;
  text-align: left;
  padding:1% 2% 2% 5%;
}

/* ==========================================================================
    say Styling
   ========================================================================== */
#say {
	width:100%;

  background-color: rgb(255, 255, 255);
	padding:0;
	margin-bottom:30px;
}
#say_title {
	height:120px;
	text-align: center;
	padding-top:2%;
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  box-shadow: 0px 2px 2px 0px rgba(161, 231, 250, 0.5);
}
.section2_title::before {
    content: '';
    width: 82px;
    height: 15px;
    background: url(../img/s-left.png) no-repeat center;
    margin-right: 15px;
    display: inline-block;
}
.section2_title::after {
    content: '';
    width: 82px;
    height: 15px;
    background: url(../img/s-left.png) no-repeat center;
    margin-left: 15px;
    display: inline-block;
}
#citat2 ,#citat3 {
	height:60%;
}
#citat ,#citat4 {
	height:40%;
}
#st1,#st2{
	text-align: left;
	padding-top: 7%;
	padding-left:10%;
}
#q1 {
	text-align:right;
}
#q2 {
	padding-top:15px;
}
#say1,#say2{
	height:341px;
}
.__copy {
  font-size: 92px;
  font-family: "LeagueGothic";
  color: rgb(161, 231, 250);
  line-height: 0.359;
  text-align: justifyLeft;
  -moz-transform: matrix( 0.99939330773116,0,0,1,0,0);
  -webkit-transform: matrix( 0.99939330773116,0,0,1,0,0);
  -ms-transform: matrix( 0.99939330773116,0,0,1,0,0);
}

#st2,#st1 {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(34, 36, 41);
  line-height: 1.714;
  text-align: justifyLeft;
  -moz-transform: matrix( 0.99939330773116,0,0,1,0,0);
  -webkit-transform: matrix( 0.99939330773116,0,0,1,0,0);
  -ms-transform: matrix( 0.99939330773116,0,0,1,0,0);

}
/* ==========================================================================
    brands Styling
   ========================================================================== */
#item-inner{
	background:rgb(255, 255, 255);
	margin-bottom:30px;
}
.linia {
	height:50%;
}
.linia>.col-sm-2 {
	border: 1px solid #ccc;
width:160px;
height:80px;
margin:2% 1% 1% 1%;
text-align:center;
padding:5px 0px 0px 0px;
background-repeat: no-repeat;

}
#vizitka_image1{
	background:  url(../img/1.png);
	background-repeat: no-repeat;
}
#vizitka_image1:hover {
	background:  url(../img/11.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image2{
	background:  url(../img/2.png);
	background-repeat: no-repeat;
}
#vizitka_image2:hover {
	background:  url(../img/12.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image3{
	background:  url(../img/3.png);
	background-repeat: no-repeat;

}
#vizitka_image3:hover {
	background:  url(../img/13.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image4{
	background:  url(../img/4.png);
	background-repeat: no-repeat;
}
#vizitka_image4:hover {
	background:  url(../img/14.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image5{
	background:  url(../img/1.png);
	background-repeat: no-repeat;
}
#vizitka_image5:hover {
	background:  url(../img/11.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image6{
	background:  url(../img/2.png);
	background-repeat: no-repeat;
}
#vizitka_image6:hover {
	background:  url(../img/12.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image7{
	background:  url(../img/3.png);
	background-repeat: no-repeat;
	
}
#vizitka_image7:hover {
	background:  url(../img/13.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
	
}
#vizitka_image8{
	background:  url(../img/4.png);
	background-repeat: no-repeat;
}
#vizitka_image8:hover {
	background:  url(../img/14.png);
	background-repeat: no-repeat;
	border:3px solid #ffc8c8;
}
#vizitka_image9{
	background:  url(../img/1.png);
	background-repeat: no-repeat;
}
#vizitka_image9:hover {
	background:  url(../img/11.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image10{
	background:  url(../img/2.png);
	background-repeat: no-repeat;
}
#vizitka_image10:hover {
	background:  url(../img/12.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image11{
	background:  url(../img/3.png);
	background-repeat: no-repeat;
}
#vizitka_image11:hover {
	background:  url(../img/13.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}
#vizitka_image12{
	background:  url(../img/4.png);
	background-repeat: no-repeat;
	
}
#vizitka_image12:hover {
	background:  url(../img/14.png);
	background-repeat: no-repeat;
	border: 3px solid #ffc8c8;
}

/* ==========================================================================
    forma Styling
   ========================================================================== */
#polosa{
	height:4px;
	background-image: url(../img/1blue.png);
	background-repeat: repeat-x;
}
#forma{
	background:rgb(255, 255, 255);
	margin-bottom:30px;
	
}
#forma1 {
	margin-top:1%;
	margin-bottom:2.5%;
	text-align:center;
  font-size: 24px;
  font-family: "ProximaNova";
  color: rgb(0, 0, 0);
  line-height: 1.2;
}
#forma2, #forma3, #forma4 {
	margin-top:3%;
	margin-bottom:2.5%;
}
#forma2 input, #forma3 input{
	width:100%;
  background-color: rgb(241, 241, 241);
  border:none;
    font-size: 15px;
  font-family: "ProximaNova";
  color: rgb(186, 186, 186);
  line-height: 1.2;
  	height:25px;
	padding-left:5px;
}
#knopka {
	background-color:rgb(255, 200, 200);
	text-align:center;
	height:25px;
	width:120px;
-webkit-box-shadow: 6px 7px 5px 5px #f3f3f3;
-moz-box-shadow: 6px 7px 5px 5px #f3f3f3;
box-shadow: 6px 7px 5px 5px #f3f3f3;
}
	
#polosa:hover {
	background-image: url(../img/2blue.png);
}

#knopka a{
	font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-decoration: none;
}
/* ==========================================================================
    idea Styling
   ========================================================================== */

#idea{
	background-image: url("../img/Rectangle 4 copy.png");
	background-repeat: no-repeat;
	margin-bottom:30px;
  font-size: 14px;
  color: rgb(221, 221, 221);
  text-transform: uppercase;
  line-height: 1.571;
}

.circle{
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(185, 255, 229);
  margin: 0 auto;
  padding-top: 19%;
  text-align: center;
}
.text_idea{
  color: rgb(221, 221, 221);
  text-transform: uppercase;
}
.text_idea h4{
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.line{
  position: absolute;
  top: 52px;
  width: 146px;
  /*190px!*/
  display: inline-block;
  height: 2px;
  background-color: #777;
}
.left-circle{
  width: 170px;
  padding-left: 15px;
  display: inline-block;
  text-align: center;
}
#footer_idea {
	text-align: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 0.917;
}
.circle:hover {
	background:  rgb(185, 255, 229);
	border: 3px solid #fff;
}
/* ==========================================================================
    footer Styling
   ========================================================================== */
#footer{
	background-image: url("../img/Footer Bg.png");
  background-color: rgb(34, 36, 41);
}
#footer a{
	text-decoration:none;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(153, 153, 153);
  line-height: 1.714;
}
#footer h4 {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  
  margin-bottom:6%;
  margin-left:18%;

}
#osob_spisok{
	float:left;
}
#osob_spisok a{
	font-size: 13px;
  font-family: "Century Gothic";
  color: #a1e7fa;
}
#osob_spisok li{
	margin-top:2%;
	text-align:center;
  font-size: 13px;
  font-family: "Century Gothic";
  color: rgb(255, 255, 255);
  line-height: 1.615;
}

#footer li {
	list-style-type: none;

}
#bottom_part{
	background:#a1e7fa;
  font-size: 13px;
  color: rgb(34, 36, 41);
  line-height: 2.308;
  text-align: left;
	padding:1% 2% 1% 2%;
}
#socio li{
	padding:6% 2% 1% 1%;
	display:inline-block;
}
#addres_image,#phone_image,#email_image{
	height:30px;
	width:30px;
	margin-top:8px;
	margin-bottom:13px;
	margin-left:5px;
}
#addres_image{
	background-image: url("../img/socio/Adress.png");
}
#phone_image{
	background-image: url("../img/socio/Phone.png");
}
#email_image{
	background-image: url("../img/socio/email.png");
}
#addres_image:hover {
	background:  url("../img/socio/Adress1.png");
}
#phone_image:hover {
	background:  url("../img/socio/Phone2.png");
}
#email_image:hover {
	background:  url("../img/socio/email3.png");
}
#cart{
	background-image: url("../img/Footer Bg.png");
}
#viza,#master_card{
	height:28px;
	width:48px;
	display:inline-block;
	float:right;
	
}
#viza{
	background-image: url("../img/socio/Visa.png");
	margin-right:3%;
}
#master_card{
	background-image: url("../img/socio/MasterCard.png");
	margin-right:1%;
	margin-bottom:1%;
}
/* ==========================================================================
    Slider Styling
   ========================================================================== */
#slider {
	padding:0px;
}
.carousel-caption input{
	background-color: rgb(255, 200, 200);
	border: none;
	width:140px;
	height:40px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.carousel-caption  {
	position: absolute;
bottom: 45%;
right:50%;
display: inline-block;
left:10%;
text-align:left;
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
}
.carousel-indicators {
	left:10%;
}

.carousel-indicators .active {
	background-color:#faef03;
}


/* feature box
----------------------------------------------------------------------------- */
.feature_box{
	margin-bottom:20px;	
}
.feature_box h4{
	margin:0 0 10px 0;
	font-weight:normal;	
}
.feature_box img{	
	margin-bottom:10px;
	background-color:#eb4800;
	padding:25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;	
	border-radius: 50%;
}
.feature_box .service{	
	margin-top:3px;
	padding:3px;	
	text-align:center;
}
.feature_box .service:hover{
	background-color:#f4f4f4;
}
.feature_box .service:hover img{
	-webkit-transition: all 0.7s linear;
	-webkit-transform: rotate(6.28rad);
	transition: all 0.7s;
	transform: rorate(6.28rad);
}
.feature_box .service div{	
	padding:5px 5px 0 5px;
}
/* end feature box */

/* product box
----------------------------------------------------------------------------- */
.product-box{
	text-align:left;
	padding-bottom:25px;
	position: relative;
	background-color:#fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right: 2%
}


.product-box img{
	overflow:hidden;
}
.product-box a.title,.product-box a.category{
  font-size: 14px;
  color: rgb(85, 85, 85);
  line-height: 1.286;
}
.product-box p.price{

	padding:10px 0;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 0.1;
}
.price_2 {
	text-decoration:line-through;
  font-size: 14px;
  color: rgba(161, 161, 161, 0.6);
}



/* end product box */
#left2_menu {
	padding:0;
	list-style-type: none;
	margin-top:20px;
}
.span12 {
	background:#fff;
	margin-left:2%;
	padding-bottom: 5%;
}
.active_item li{
	list-style-type: none;
}
.item li{
	list-style-type: none;
}

h4.title .right{
	background: url("../img/0_.png");
}
.col-sm-4{
	padding:0;
}
.thumbnails{
	margin-right:2%;
	padding:0;
	margin-left:2%;
	
}
.thumbnails li {
	padding:1%;
}
.top{
	position:absolute;bottom:80%;left:0;
}
#topp {
	margin-top:10px;
}
#bottom {
	margin-top:5%;
}
.title_upravl{
	display:inline-block;
	margin-left:3%;
	margin-top:2%;
	font-size: 24px;
  
  color: rgb(0, 0, 0);
  line-height: 1.2;
  
}
#left2_menu {
	padding:0;
}
.upravl{
	float:right;
	margin-right:1%;
	margin-top:2%;
}
#kopl{
	display:inline;
}
#price_kom {
	display:inline-block;
	
}
/* ==========================================================================
    responsive style
   ========================================================================== */
@media (max-width: 400px){

/*меню*/
.drop-arrow{
	display:inline-block;
}
#logo {
margin-left: 25%;
margin-top:3%;
width:171px;
height:121px;
}
#menu_icon {
	text-align:center;
	
}
#menu_icon li{
	display:block;
	margin-top:4%;
}
#search {
	width:82%;
	margin:3% 4% 1% 3%;
	text-align: center;
}
#search button {
	margin-left: 4%;
}
#log {
	text-align: center;
	margin-top:3%;
	margin-bottom:3%;
}

#shopcart,.shoping {
	display:none;
}
/*контенс слайдер*/
.span12{
	margin:0;
}

#header_left{
	background:#a1e7fa;
}
#header_left_but{
	border-color: #ed1515;
}	

/**/

.section2_title:after {
    display: none;
  }
  .section2_title:before {
    display: none;
  }
/**/
.linia {
	padding-left: 17%;
	padding-top:2%;
	padding-bottom:2%;
} 
/**/
#idea{
	background-image: none;
	background:rgb(200, 191, 231);
	padding-left: 15%;
}
#idea h4{
	color:#000;
}
#title_idea{
	padding-right: 15%;
}
#footer{
	text-align:center;

	
}
#footer h4 {
	margin-left:0;
}
#footer ul{
	margin-right:18%;
}
#addres_image,#phone_image, #email_image {
	display:inline-block;
}
#footer_bottom,#footer_button {
	text-align:center;
}
#top_header,#menu_top,#schopping_cart,#logo {
	height:auto;
}

}

@media screen and (min-width:500px) and (max-width:1200px)
 {
	 #top_header,#menu_top,#schopping_cart,#logo {
	height:auto;
}
.slider-caption {
    display: none;
  }
.section-title:after {
    display: none;
  }
.section-title:before {
    display: none;
  }
.line {
	display:none;
}
#schopping_cart {
	display:none;
}
#logo {
margin-top:3%;
width:171px;
height:121px;
}
#menu_icon {
	text-align:center;
	
}
#menu_icon li{
	display:inline-block;

}
#search {
	width:60%;
	margin:3% 0% 1% 20%;
	text-align: center;
}
#search button {
	margin-right:12%;
}
#log {
	display:none;
}

#shopcart,.shoping {
	display:none;
}
}
@media (max-width: 780px) {
#brands{
	display:none;
}
#navbarCollapse {
margin-left:0;}
.line {
	display:none;
}
.section-title:after {
    display: none;
  }
  .section-title:before {
    display: none;
  }
